<!doctype html>
<html>
    <body>
        <h1>{{ current_user.username }} さんの日記</h1>
        <a href="{{ url_for('new_entry') }}">新しい日記を書く</a>
        <a href="{{ url_for('logout') }}">ログアウト</a>
        <ul>
        {% for e in entries %}
            <li>
            <strong>{{ e.title or "(無題)" }}</strong>
            <div>{{ e.body }}</div>
            <small>{{ e.created_at }}</small>
            <!-- URL 生成 -> 削除　-->
            <form action="{{ url_for('delete_entry', entry_id=e.id) }}"
                method="post"
                style="display:inline;">
                <button type="submit"
                    onclick="return confirm('本当に削除してよろしいですか?');">
                    削除
                </button>
            </form>
            </li>
        {% else %}
            <li>まだ日記がありません。</li>
        {% endfor %}
        </ul>
    </body>
</html>
