{% extends "base.html" %}

{% block title %}
    {{ entry.title or "無題"}}
{% endblock %}

{% block content %}
    <h1> {{ entry.title or "エントリ" }} </h1>

    <div class="entry-meta">
        <span>作成日時: {{ entry.created_at.strftime("%Y-%m-%d %H:%M") }} </span>
        {% if entry.updated_at != entry.created_at %}    
            <span>最終更新日時: {{ entry.updated_at.strftime("%Y-%m-%d %H:%M") }} </span>
        {% endif %}
    </div>

    <div class="entry-body">
        {{ body_html|safe }}
        {# HTML 化 #}
    </div>
    <p>
        <a href="{{ url_for('edit_entry',
            date_str=target_date.isoformat(),
            entry_id=entry.id) }}">
        編集する
        </a>
        <a href="{{ url_for('day_view',
            date_str=target_date.isoformat()) }}">日に戻る</a>
   </p>
{% endblock %}